.nav {
    height: 12.5vh;
}
.nav-list li a:hover {
    color: rgba(34,197,94,0.8);
}
.btn:hover {
    background-color: rgb(27, 154, 74);
    cursor: pointer;
}
@media (max-width:767px) {
    .nav-list li {
        margin:1rem 0;
    }
    .nav-list li a:hover {
        color: rgba(2, 71, 28, 0.8);
    }
}